body{
    background-color: rgb(0, 0, 0);
    font-family: sans-serif;
    padding:0;
    margin:0;
}
.img_return{
    height: 20px;
    padding:10px;
}
.return_1{
    color:white;
text-align: center
}
.return{
    background-color: rgb(27, 27, 27);
    height: 4dvh;
    display: flex;
    align-items: center;
    padding:0px;
    height: 40px;
text-decoration: none;
}
.map{
    height: 15px;
}

.menu_piscinas{
    background-color: white;
    margin:1.5em;
}
.menu_ps{
    text-decoration: none;
    color:black;
}
.title_htel{
    justify-content:center;

    
}
.ed_p{
    margin:17px;
    height: 120px;
}
.space{
    display: flex;
}
.p_psc{
    margin:1em;
    font-size:x-small;
    text-align: justify;
}

.titulo_piscinas{
margin:10px;
}

.ubication_ps{
    margin:0%;
}